@model Zork2.ViewModels.PrintViewModel
@{ 
    ViewBag.Title = "Home Page";
}


<pre>
@Model.Text

</pre>



<div >
    <form action='@Url.Action("Index","Home")' method="post" autocomplete="off">
        <button type="submit" id="sendBtn" class="btn btn-primary">Send</button>
        <input id="inputField" name="input" type="text" class="form-control" autofocus />
    </form>
</div>
